/* Main font */
.repertoire-css{
    font-family: 'Montserrat', sans-serif;
}

/* Main link */
a:link, a:visited, a:hover, a:active {
    color: black;
}

/* link button */
a.button:link, a.button:visited, a.button:hover, a.button:active {
    color: white;
}

.button-bin{
    padding: 0;
    border: none;
    background: none;
}

/* Main title */
.main-page-title{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: #337994;
    font-size: 4rem;
}


.button {
    background-color: #337994; /* Green */
    border: none;
    width: 200px;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}

@media (max-width: 575.98px) {
    table {
        font-size: 0.8rem;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    table {
        font-size: 0.9rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
