/* Main font */
.patient-details-css{
    font-family: 'Montserrat', sans-serif;
}

/* Main title */
.main-page-title{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: #337994;
    font-size: 3rem;
}

/* Hr */
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1em;
    width: 200px;
    border-style: inset;
    border-width: 1px;
}


@media (max-width: 575.98px) {
    .date-patient{
        font-size: 0.7rem;
        text-align: center;
    }
    .nav-infos-patient {
        display: flex;
        flex-direction: column;
    }
    .nav-infos-patient .nav-item {
        width: 100%;
        font-size: 0.9rem;
    }
    .tab-main-title{
        font-size: 1rem;
    }
    .tab-text{
        font-size: 0.7rem;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .date-patient{
        font-size: 0.8rem;
        text-align: center;
    }
    .nav-infos-patient {
        font-size: 0.9rem;
    }
    .tab-main-title{
        font-size: 1rem;
    }
    .tab-text{
        font-size: 0.8rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .date-patient{
        font-size: 0.8rem;
        text-align: center;
    }
    .nav-infos-patient {
        font-size: 0.9rem;
    }
    .tab-main-title{
        font-size: 1rem;
    }
    .tab-text{
        font-size: 0.8rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .date-patient{
        font-size: 0.8rem;
    }
    .nav-infos-patient {
        font-size: 0.9rem;
    }
    .tab-main-title{
        font-size: 1rem;
    }
    .tab-text{
        font-size: 0.8rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .date-patient{
        font-size: 0.8rem;
    }
    .nav-infos-patient {
        font-size: 0.9rem;
    }
    .tab-main-title{
        font-size: 1rem;
    }
    .tab-text{
        font-size: 0.9rem;
    }
}
