.repertoire-css{
    font-family: 'Montserrat', sans-serif;
}


.button-bin{
    padding: 0;
    border: none;
    background: none;
}

.main-page-title{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    color: #337994;
    font-size: 4rem;
}

img.logo-add-patiente{
    height: 50px;
    width: 50px;
}

#myInput {
    background-image: url("/static/APP_002_PROPAGE/img/search-icon.png"); /* Add a search icon to input */
    background-size: 30px 30px;
    background-position: 5px 9px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 1.1rem; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 1rem; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #ffccdd;
}

.button {
    background-color: #337994; /* Green */
    border: none;
    width: 200px;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}
