#sideNav {
    background-color: #ffccdd;
    font-family: 'Montserrat', sans-serif;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    body {
      padding-top: 54px;
    }
    img.logo {
        height: 50px;
        width: 50px;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
      padding-top: 54px;
    }
    img.logo {
        height: 50px;
        width: 50px;
    }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
      padding-left: 17rem;
    }
    img.logo {
        height: 110px;
        width: 110px;
    }
    #sideNav {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
    }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }
    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }

}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
      padding-left: 17rem;
    }
    img.logo {
        height: 110px;
        width: 110px;
    }
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
      }
      #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
      }
      #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
      }
      #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
      }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
      padding-left: 17rem;
    }
    img.logo {
        height: 110px;
        width: 110px;
    }
    #sideNav {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      width: 17rem;
      height: 100vh;
    }
    #sideNav .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }

    #sideNav .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
      flex-direction: column;
      width: 100%;
    }
}
