{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %} {{ title }} || {{ block.super }} {% endblock head_title %}

{% block css %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="{% static 'APP_001_LANDINGPAGE/css/style.css' %}" rel="stylesheet">
<link href="{% static 'APP_001_LANDINGPAGE/css/carousel.css' %}" rel="stylesheet">
{% endblock css %}



{% block content %}
<!-- Navbar -->
{% include "APP_001_LANDINGPAGE/nav.html" %}
<main role="main">

<!-- Carousel -->
{% include "APP_001_LANDINGPAGE/carousel.html" %}


 </main>


{% endblock content %}
