<header>
  <nav class="navbar navbar-expand-md navbar fixed-top bg-light">
    <a class="navbar-brand" href="#">Laurene Simonin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
          <span class="navbar-text">
            <a href="tel:+33607709199">06.07.70.91.99</a>
          </span>
          <span class="navbar-text">
            <a href="mailto:clerc.sylv@gmail.com">clerc.sylv@gmail.com</a>
          </span>
          <span class="navbar-text">
            <a href="https://www.doctolib.fr/sage-femme/corbas/laurene-simonin">Prendre Rendez-Vous en ligne</a>
          </span>
      </ul>
    </div>
  </nav>
</header>
