{% load staticfiles %}
<header>
  <nav class="navbar navbar-expand-md navbar fixed-top bg-light">
    <img src="{% static 'APP_001_LANDINGPAGE/img/Pictocigogne.png' %}" width="50" height="50" alt="">
    <a class="navbar-brand" href="#">{{ description.first_name }} {{ description.last_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% for cat in actcategory %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ cat.category }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">test 1</a>
                <a class="dropdown-item" href="#">test 2</a>
              </div>
            </li>
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link" href="#">MON PARCOURS</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CONTACT
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="tel:{{ description.phone_number }}"><i class="fas fa-mobile-alt"></i>&nbsp;{{ description.phone_number_p }}</a>
                <a class="dropdown-item" href="mailto:clerc.sylv@gmail.com"><i class="far fa-envelope"></i>&nbsp;{{ description.email }}</a>
                <a class="dropdown-item" href="https://www.doctolib.fr/sage-femme/corbas/laurene-simonin"><i class="far fa-calendar-alt"></i>&nbsp;Prendre un rendez-vous</a>
                <a class="dropdown-item" href="#"><i class="fas fa-location-arrow"></i>&nbsp;{{ description.pro_adress }}</a>
              </div>
            </li>
        </ul>
    </div>
  </nav>
</header>
