/* 001 - HTML TAGS */
body {
    background: url("/static/APP_001_CLIENTPAGE/img/bg.png") fixed;
}
hr {
    border: 0.7px black solid;
    opacity: 0.6;
}

/* 002 - CLASS TAGS */

/* 003 - ID TAGS */

/* 004 - MEDIA QUERIES TAGS */
