#head_main{
    font-family: 'Shadows Into Light', cursive;
    font-size: 2rem;
}

#head_icon{
    font-size: 2.6rem;
}

#head_contact{
    font-family: 'Montserrat', sans-serif;
}

a, a:link, a:visited {
  /* color: #396054; */
  color: #337994;
}

.nounderline {
  text-decoration: none !important
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #head_main{
        font-size: 2.3rem;
    }
    #head_icon{
        font-size: 2.4rem;
    }
    img {
        height:110px;
        width:110px;

    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #head_main{
        font-size: 2.5rem;
    }
    #head_icon{
        font-size: 2.4rem;
    }
    img {
        height:115px;
        width:115px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #head_main{
        font-size: 2.5rem;
    }
    #head_icon{
        font-size: 2.4rem;
    }
    img {
        height:115px;
        width:115px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #head_main{
        font-size: 1.8rem;
    }
    #head_icon{
        font-size: 2.4rem;
    }
    img {
        height:115px;
        width:115px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #head_main{
        font-size: 2.2rem;
    }
    #head_icon{
        font-size: 2.4rem;
    }
    img {
        height:115px;
        width:115px;
    }
}
