#header {
    background: url("/static/APP_001_CLIENTPAGE/img/header-bg.png") 100% 0 no-repeat fixed;
    opacity: 1.00;
}

#head_main{
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
}

#head_icon{
    font-size: 2.6rem;
    color: 	#396054;
}

#head_contact{
    font-family: 'Montserrat', sans-serif;
    color: 	#396054;
}

a, a:link, a:visited{
  color:#396054;
}

.nounderline {
  text-decoration: none !important
}

.head-icon:hover,
.head-icon:focus {
  color: #f08080;
}
