/* SLOUTMYV MODIF */
#navbar{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.nav-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

/* NAV AUTO GENERATE */
.navbar {
  background-color: #ffffff;
}
.navbar .navbar-brand {
  color: #337994;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #dc959b;
}
.navbar .navbar-text {
  color: #337994;
}
.navbar .navbar-text a {
  color: #dc959b;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #dc959b;
}
.navbar .navbar-nav .nav-link {
  color: #337994;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #dc959b;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #dc959b;
  background-color: #ffffff;
}
.navbar .navbar-toggle {
  border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #337994;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #337994;
}
.navbar .navbar-link {
  color: #337994;
}
.navbar .navbar-link:hover {
  color: #dc959b;
}

/* MEDIA */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-nav>li {
      font-size: 0.8rem;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #337994;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #dc959b;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #dc959b;
      background-color: #ffffff;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-nav>li {
      font-size: 0.8rem;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #337994;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #dc959b;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #dc959b;
      background-color: #ffffff;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-nav>li{
      border-right: 1px solid #000;
      font-size: 0.6rem;
    }
    .navbar-nav>li:last-child{
       border: none;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #337994;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #dc959b;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #dc959b;
      background-color: #ffffff;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-nav>li{
      border-right: 1px solid #000;
      font-size: 0.8rem;
    }
    .navbar-nav>li:last-child{
       border: none;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #337994;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #dc959b;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #dc959b;
      background-color: #ffffff;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-nav>li{
      border-right: 1px solid #000;
      font-size: 1rem;
    }
    .navbar-nav>li:last-child{
       border: none;
    }
    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #337994;
    }
    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #dc959b;
    }
    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #dc959b;
      background-color: #ffffff;
    }
}
