/* // Extra small devices (portrait phones, less than 576px) */

img.profil-picture {
    height:230px;
    width:230px;

}

#icon{
    font-size: 6rem;
}

hr{
border: 1px black solid;
opacity: 0.8;
}

#votre_sf_title, #mon_parcours_title{
font-family: 'Amatic SC', cursive;
color: #337994;
}

#mon_parcours_sub_title, #votre_sf_text, #mon_parcours_text {
font-family: 'Montserrat', sans-serif;
}
@media (max-width: 575.98px) {
    #votre_sf_title, #mon_parcours_title{
        font-size: 2rem;
    }

    #mon_parcours_sub_title{
        font-size: 1.1rem;
    }

    #votre_sf_text, #mon_parcours_text{
        font-size: 0.8rem;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    #votre_sf_title, #mon_parcours_title{
        font-size: 2rem;
    }

    #mon_parcours_sub_title{
        font-size: 1.2rem;
    }

    #votre_sf_text, #mon_parcours_text{
        font-size: 0.9rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    #votre_sf_title, #mon_parcours_title{
        font-size: 2.5rem;
    }

    #mon_parcours_sub_title{
        font-size: 1.3rem;
    }

    #votre_sf_text, #mon_parcours_text{
        font-size: 1rem;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #votre_sf_title, #mon_parcours_title{
        font-size: 3rem;
    }

    #mon_parcours_sub_title{
        font-size: 1.3rem;
    }

    #votre_sf_text, #mon_parcours_text{
        font-size: 1rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #votre_sf_title, #mon_parcours_title{
        font-size: 3rem;
    }

    #mon_parcours_sub_title{
        font-size: 1.4rem;
    }

    #votre_sf_text, #mon_parcours_text{
        font-size: 1.1rem;
    }
}
