<!doctype html>
<html lang="en">
    <head>
        <title>{% block head_title %} Laurene Simonin | Sage-Femme {% endblock head_title %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Laurene Simonin, sage-femme à Corbas. Accompagnement, suivi
        de grossesse, préparation à la naissance, réeducation du périné.">
        <meta name="author" content="Sloutmyv">

        {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        {% endblock css %}
    </head>

    <body>

        {% block content %}
        {% endblock content %}

        {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        {% endblock js %}
    </body>
</html>
