{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %} {{title}} || LS {% endblock head_title %}

{% block css %}
{{ block.super }}
<link href="{% static 'APP_002_PROPAGE/css/002_side_navbar.css' %}" rel="stylesheet">
<link href="{% static 'APP_002_PROPAGE/css/003_repertoire.css' %}" rel="stylesheet">
{% endblock css %}

<body>
{% block content %}
<!-- Side Navbar-->
{% include "APP_002_PROPAGE/002_side_navbar.html" %}
<!-- Repertoire -->
<div class="container-fluid repertoire-css p-4">
    <div class=row>
        <div class='col-md-6'>
            <h1 class="main-page-title"> {{title|upper}}</h1>
        </div>
        <div class='col-md-6 my-auto text-center'>
            <a href="{% url 'propage:espace-pro-patient-form' %}" class="btn button" role="button" aria-pressed="true">Nouvelle Patiente</a>
        </div>
    </div>
    <hr class="featurette-divider">

    <table id="table_id" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Patiente</th>
                <th class='no-sort'>Téléphone</th>
                <th class='no-sort'></th>
                <th class='no-sort'></th>
            </tr>
        </thead>
        <tbody>
        {% for patient in object_list %}
            <tr>
                <td><a href="{% url 'propage:espace-pro-repertoire' %}{{ patient.slug}}">{{patient.patient_first_name}} {{patient.patient_last_name}}</a></td>
                <td><a href="tel:+33{{patient.call_number}}">{{patient.printable_number}}</a></td>
                <td align="center">
                    <a href="{% url 'propage:patient-update' slug=patient.slug %}">
                    <i class="fas fa-pencil-alt"></i></td>
                    </a>
                <td align="center">
                    <form action="{% url 'propage:patient-delete' slug=patient.slug %}" method="POST">
                      {% csrf_token %}
                      <button class='button-bin' type="submit"><i class="far fa-trash-alt" type="submit"></i></button>
                      <!-- <input class="btn btn-default btn-danger" type="submit" value="Delete"/> -->
                    </form>
                    <!-- <i class="far fa-trash-alt"></i> -->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

{% block js %}
{{block.super}}
<script src="{% static 'APP_002_PROPAGE/js/003_repertoire.js' %}"></script>
{% endblock js %}
</body>
