{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %} {{title}} || LS {% endblock head_title %}

{% block css %}
{{ block.super }}
<link href="{% static 'APP_002_PROPAGE/css/side-navbar.css' %}" rel="stylesheet">
{% endblock css %}

<body>

{% block content %}
<!-- Side Navbar-->
{% include "APP_002_PROPAGE/side-navbar.html" %}
<!-- Patient form-->
<h1> {{ title }} </h1>

<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Enregistrer</button>
</form>
{% endblock content %}
</body>
