{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %} {{ object.title }} || LS {% endblock head_title %}

{% block css %}
{{ block.super }}
<link href="{% static 'APP_002_PROPAGE/css/side-navbar.css' %}" rel="stylesheet">
<link href="{% static 'APP_002_PROPAGE/css/patient-details.css' %}" rel="stylesheet">
{% endblock css %}

<body>
{% block content %}
<!-- Side Navbar-->
{% include "APP_002_PROPAGE/side-navbar.html" %}
<div class="container-fluid patient-details-css">
    <h1 class="main-page-title pt-4" align="center"> {{ object.patient_first_name  }} {{ object.patient_last_name  }}</h1>

    <hr class="featurette-divider">

</div>
{% endblock content %}
</body>
