{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %} {{ title }} || LS {% endblock head_title %}

{% block css %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="{% static 'APP_002_PROPAGE/css/pro_sidenavbar.css' %}" rel="stylesheet">
{% endblock css %}

<body>

{% block content %}
<!-- Side Navbar-->
{% include "APP_002_PROPAGE/pro_sidenavbar.html" %}

<div class="container-fluid p-0">
<h1> Test 1 </h1>
</div>

{% endblock content %}
</body>
