{% load staticfiles %}
<div id="header">
    <div class="container">
        <div class="row py-1">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-3">
                        <img src="{% static 'APP_001_CLIENTPAGE/img/Pictocigogne.png' %}" width="100" height="100" alt="">
                    </div>
                    <div class="col-9 my-auto bg-info" id='head_praticien_infos'>
                        <div class="row">
                            <a class="head_praticien_name" href="#">Laurene Simonin</a>
                        </div>
                        <div class="row">
                            <a class="head_praticien_job" href="#">Sage-femme</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3 my-auto bg-warning">.col</div>
            <div class="col-6 col-md-3 my-auto bg-success">.col</div>
        </div>
    </div>
</div>
