{% load staticfiles %}
<div id="header">
    <div class="container">
        <div class="row py-4">
            <div class="col-12 col-md-8">
                <div class="row" align="center">
                    <div class="col-4">
                        <img class="mx-auto d-block" src="{% static 'APP_001_CLIENTPAGE/img/Pictocigogne.png' %}">
                    </div>
                    <div class="col-8 my-auto" id='head_main'>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <a class="nounderline" href="#"><b>Laurène Simonin</b></a>
                            </div>
                            <div class="col-12 col-lg-6">
                                <a class="nounderline" href="#"><b>SAGE-FEMME</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2" align="center">
                <div class='row pt-3'>
                    <div class="col-12"  id="head_icon">
                        <a class="head_rdv" href="https://www.doctolib.fr/sage-femme/corbas/laurene-simonin">
                            <i class="fas fa-pen-square "></i>
                        </a>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-12" id="head_contact">
                        <a class="head_rdv" href="https://www.doctolib.fr/sage-femme/corbas/laurene-simonin">RENDEZ-VOUS</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2" align="center">
                <div class='row pt-3'>
                    <div class="col-12"  id="head_icon">
                        <a class="head_rdv" href="#">
                            <i class="fas fa-phone-square"></i>
                        </a>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-12" id="head_contact">
                        <a class="head_phone" href="#">07.82.86.42.23</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
