{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block head_title %} {{ title }} || {{ block.super }} {% endblock head_title %}

{% block css %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<link href="{% static 'APP_001_CLIENTPAGE/css/home.css' %}" rel="stylesheet">
<link href="{% static 'APP_001_CLIENTPAGE/css/home_header.css' %}" rel="stylesheet">
<link href="{% static 'APP_001_CLIENTPAGE/css/home_navbar.css' %}" rel="stylesheet">
<link href="{% static 'APP_001_CLIENTPAGE/css/home_carousel.css' %}" rel="stylesheet">
<link href="{% static 'APP_001_CLIENTPAGE/css/home_presentation.css' %}" rel="stylesheet">
<link href="{% static 'APP_001_CLIENTPAGE/css/home_contact.css' %}" rel="stylesheet">
<link href="{% static 'APP_001_CLIENTPAGE/css/home_footer.css' %}" rel="stylesheet">
{% endblock css %}

<body>
{% block content %}
<!-- Header -->
{% include "APP_001_CLIENTPAGE/home_header.html" %}
<!-- NavBar -->
{% include "APP_001_CLIENTPAGE/home_navbar.html" %}
<!-- Carousel -->
{% include "APP_001_CLIENTPAGE/home_carousel.html" %}
<!-- Presentation -->
{% include "APP_001_CLIENTPAGE/home_presentation.html" %}
<!-- Contact -->
{% include "APP_001_CLIENTPAGE/home_contact.html" %}
<!-- Footer -->
{% include "APP_001_CLIENTPAGE/home_footer.html" %}
{% endblock content %}
</body>
