{% load staticfiles %}
<div id="header">
    <div class="container">
        <div class="row py-4">
            <div class="col-12 col-md-8">
                <div class="row" align="center">
                    <div class="col-4">
                        <img class="mx-auto d-block" src="{% static 'APP_001_CLIENTPAGE/img/Pictocigogne.png' %}">
                    </div>
                    <div class="col-8 my-auto">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <a class="nounderline header-color header-font" href="#"><b>{{ praticien.praticien_first_name }} {{ praticien.praticien_last_name }}</b></a>
                            </div>
                            <div class="col-12 col-lg-6">
                                <a class="nounderline header-color header-font" href="#"><b>{{ praticien.praticien_job|upper }}</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2" align="center">
                <div class='row pt-3'>
                    <div class="col-12">
                        <a class="header-icon header-color" href="{{ praticien.praticien_url_rdv }}">
                            <i class="fas fa-pen-square "></i>
                        </a>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-12">
                        <a class="header-contact header-color" href="{{ praticien.praticien_url_rdv }}">RENDEZ-VOUS</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2" align="center">
                <div class='row pt-3'>
                    <div class="col-12">
                        <a class="header-icon header-color" href="#">
                            <i class="fas fa-phone-square"></i>
                        </a>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-12">
                        <a class="header-contact header-color" href="#">{{ praticien.printable_number }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
