{% load staticfiles %}
<div id="presentation">
<div class="container">
    <hr class="featurette-divider">
    <div class="row">
      <div class="col-md-8">
        <h2 class="presentation-title">
            <b>VOTRE SAGE-FEMME</b>
        </h2>
        <p class="presentation-text">Bienvenue sur la page d’accueil de mon cabinet de sage-femme situé
             à Corbas.<br /><br />
             Une sage femme est une spécialiste de la physiologie de la grossesse. A ce titre, je peux suivre
             de suivre l'ensemble des étapes de votre grossesse et de vous accompagner après l'accouchement.
             La sage-femme libérale a pour missions :
        </p>
      </div>
      <div class="col-md-4 my-auto" align="center">
          <img src="{% static 'APP_001_CLIENTPAGE/img/photo-profil-1.png' %}"
          class="rounded-circle profil-picture" alt="photo-LS">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-2  my-auto" align="center">
          <!-- <img class="rounded-circle" src="{% static 'APP_001_CLIENTPAGE/img/photo-profil.jpg' %}"
          alt="Generic placeholder image" width="500" height="500"> -->
          <i class="fas fa-graduation-cap logo"></i>
        </div>
        <div class="col-md-10">
            <h2 class="presentation-title"><b>MON PARCOURS</b></h2>
            <span class="text-muted presentation-subtitle">Formation</span>
            <p class="presentation-text">Donec ullamcorper nulla non metus auctor fringilla.
            Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
            <span class="text-muted presentation-subtitle">Expériences professionnelles</span>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
</div>
