{% load staticfiles %}
{% load markdown_deux_tags %}
<div id="presentation">
<div class="container">
    <hr class="featurette-divider">
    <div class="row">
      <div class="col-md-8 presentation-text">
        <h2 class="presentation-title"><b>VOTRE SAGE-FEMME</b></h2>
        <p>{{ praticien.praticien_introduction|markdown }}</p>
      </div>
      <div class="col-md-4 my-auto" align="center">
          <img src="{{ praticien.praticien_image.url }}"
          class="rounded-circle profil-picture" alt="photo-LS">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-2  my-auto" align="center">
          <!-- <img class="rounded-circle" src="{% static 'APP_001_CLIENTPAGE/img/photo-profil.jpg' %}"
          alt="Generic placeholder image" width="500" height="500"> -->
          <i class="fas fa-graduation-cap logo"></i>
        </div>
        <div class="col-md-10 presentation-text">
            <h2 class="presentation-title"><b>MON PARCOURS</b></h2>
            <span class="text-muted presentation-subtitle">Formation</span>
            <p>{{ praticien.praticien_formation|markdown }}</p>
            <span class="text-muted presentation-subtitle">Expériences professionnelles</span>
            <p>{{ praticien.praticien_experiences_pro|markdown }}</p>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
</div>
